{% extends "inventory/base.html" %}
{% load tracker %}

{% block content %}
<div class = "container-fluid">
	<!-- Upper Section, Display Overall Inventory Value and Total Profits -->
	<div class = "row">
		<div class = "card p-3 mt-3" style = "width:25%; left:37.5%; text-align: center">Total Profit: {% totalProfit stock.first %} </div>
	</div>

	<!-- Stock Items arranged in "3 Items per Row" format -->
	<div class = "row align-items-start ml-3">
		{% for item in stock %}
		<div class = "card mt-4 p-3 ml-4" style = "width:30.75%; text-align: center">
			<a class = "font-weight-bold" href = "{% url 'item-detail' item.id %}" style = "color:black;"> {{ item.product }} </a>
			<small class = "text-muted"> {{ item.color }} </small>
			<small class = "text-muted"> {{ item.size }} </small>
		</div>
		{% if forloop.counter|divisibleby:3 and not forloop.first %}
		</div>
		{% if not forloop.last%}
		<div class = "row align-items-start ml-3">
		{% endif %}
		{% endif %}
	{% endfor %}
{% endblock content %}

