.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
}

.grid-item {
	margin-top: 50px;
	border: 1px solid rgba(0,0,0,0.8);
	padding: 20px;
	font-size: 60px;
	text-align: center;
}