{% extends "inventory/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section mt-5" style = "width:50%; margin:auto;">
	<form method = "POST">
		{% csrf_token %}
		<!-- grouping for forms -->
		<fieldset class = "form-group">
			<legend class = "border-bottom mb-4">Item Details</legend>
			{{ form|crispy }}
		</fieldset>
		<div class = "form-group">
			<button class = "btn btn-outline-info" type="submit">Add Product</button>
		</div>
	</form>
</div>
{% endblock content %}